APP_CONFIG=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Natili!254
DB_NAME=eventflow_db
SECRET_KEY=dev-secret-key-change-in-production
JWT_SECRET_KEY=jwt-secret-key-change-in-production
